<settings>
	<setting id="max_video_quality" type="enum" label="Maximum playback quality" values="360p|480p|720p|1080p" default="2"/>
	<setting id="saved_searches_1" type="text" label="Saved searches (comma separated)" default="BBC Match of the Day, UEFA Champions League, Monday Night Football"/>
	<setting id="saved_searches_2" type="text" label="Saved searches (comma separated)" default="Revista de La Liga"/>
	<setting id="saved_searches_3" type="text" label="Saved searches (comma separated)" default=""/>
	<setting id="DASH" type="bool" label="Enable DASH videos" default="false"/>
</settings>